
   
}
img{width:100%;
height: 1000;}
.links {
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9;
    padding-right: 9;
    font-family: monospace;
    font-size: 30px;
    list-style: none;

}

.links:hover {
    background-color: aquamarine;
}

#home{background-image: url(floe.jpg)}


.menu {
    list-style: none;
    font-family: monospace;
    position: fixed;
    top: 10px;
    margin-left: 200px;
    margin-right: 300px;
    right: 20px;
    z-index: 10;
    background-color: white;
    width: 600px;
    text-align: center;
}

body {
    text-align: center;
}

#h {
    padding-top: 500px;
    color: black;
    background-color: aliceblue;

    font-style: italic;
    font-weight: bold;
}

#w {
    height: 260px;
    width: 300px;
}
